/*
primary color: #cf4449
second color: #7F4546 */
/*// Extra small devices (portrait phones, less than 34em)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) { ... }

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) { ... }

// Large devices (desktops, 62em and up)
@media (min-width: 62em) { ... }

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) { ... }*/

/*-----------------------------------------------------------------------------------------------------------*/

/*// Extra small devices (portrait phones, less than 34em)
@media (max-width: 33.9em) { ... }

// Small devices (landscape phones, less than 48em)
@media (max-width: 47.9em) { ... }

// Medium devices (tablets, less than 62em)
@media (max-width: 61.9em) { ... }

// Large devices (desktops, less than 75em)
@media (max-width: 74.9em) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width*/


*{
	-webkit-tap-highlight-color: transparent;
}
body{
	background: lightgrey;
	font-family: 'Roboto', sans-serif;
}
nav{
	background-color: firebrick;
	font-size: 1.1rem;
}
button.navbar-toggler:focus{
	outline: 0;
}

span.mainHeader{
	font-size: 1.25rem;
	color: #ffffff;
	vertical-align: middle;
}
p a{
	color: #7F0F0B;
	text-decoration: underline;
}
p a:hover{
	color: #7F0F0B;
}
.firstRow{
	margin-top: 5rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

.centerAlign{
	text-align: center;
}
i{
	color: #CC2727;
}

.card-block .card-title, h1{
	font-family: 'Bree Serif', serif;
}
.profilePicDiv{
	text-align: center;
	z-index: 1;
	position: relative;
	top: 25px;
}

.profilePicDiv img{
	border: 2px solid #CC2727;
}
.card-deck-wrapper {
    margin-right: 0;
    margin-left: 0;
}

.commonWidth{
	max-width: 43rem;
	margin: 0 auto;
	margin-top: 5rem;
}

.customButton{
	background: #CC2727;
	border-color: #CC2727;
	color: #ffffff;
	outline: 0;
}
.customButton:hover, customButton:link, customButton:active, customButton:focus{
	background: #7F0F0B;
	border-color: #7F0F0B; 
	color: #ffffff;
	outline:0;
}
input[type="submit"]{
	outline: 0;
}