*{
	-webkit-tap-highlight-color: transparent;
}
body{
	background: lightgrey;
	color: black;
	font-family: 'Roboto', 'Helvetica', sans-serif;
}
nav{
	background-color: firebrick;
	font-size: 1.1rem;
}
button.navbar-toggler:focus{
	outline: 0;
}

span.mainHeader{
	font-size: 1.25rem;
	color: #ffffff;
	vertical-align: middle;
}

.home{
	background: url("../img/background1.png") no-repeat center center fixed;
	background-size: cover;
}

.contact{
	background: url("../img/bkg_05_may.jpg") no-repeat center center fixed;
	background-size: cover;
}

.projects{
	background: url("../img/background2.png") no-repeat center center fixed;
	background-size: cover;
}

p a{
	color: #7F0F0B;
	text-decoration: underline;
}
p a:hover{
	color: #7F0F0B;
}
.firstRow{
	margin-top: 5rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}

.centerAlign{
	text-align: center;
}
i{
	color: #CC2727;
}

.card-block .card-title, h1{
	font-family: 'Bree Serif', 'Source Serif Pro', serif;
}

.card-block{
	background: #ffffff;
	background: rgba(255,255,255,0.6);
}

.card-deck .card{
	background: #ffffff;
	background: rgba(255,255,255,0.75);
}

.card-deck .card .card-block{
	background: #ffffff;
	background: transparent;
}

.profilePicDiv{
	text-align: center;
	z-index: 1;
	position: relative;
	top: 25px;
}

.profilePicDiv img{
	border: 2px solid #CC2727;
}
.card-deck-wrapper {
    margin-right: 0;
    margin-left: 0;
}

.commonWidth{
	max-width: 43rem;
	margin: 0 auto;
	margin-top: 5rem;
}

.customButton{
	background: #CC2727;
	border-color: #CC2727;
	color: #ffffff;
	outline: 0;
}
.customButton:hover, customButton:link, customButton:active, customButton:focus{
	background: #7F0F0B;
	border-color: #7F0F0B; 
	color: #ffffff;
	outline:0;
}